week1/ny_taxi_postgres_data/
/Users/jonathandelimas/Library/CloudStorage/GoogleDrive-johnlimma@gmail.com/My Drive/7. Courses/10. DataTalks Data Engeneering/DE_Zoomcamp2024/week1/ny_taxi_postgres_data/
/Users/jonathandelimas/Library/CloudStorage/GoogleDrive-johnlimma@gmail.com/My Drive/7. Courses/10. DataTalks Data Engeneering/DE_Zoomcamp2024/week1/gcp_terraform/dataengineeringzoomcamp2024-2a64d9ac2711.json
/week1/gcp_terraform/dataengineeringzoomcamp2024-2a64d9ac2711.json